# Global Settings
Documentation/
Resources/
.vscode/

# CAD Settings 
CAD Files\3D prints\Chassis V2.zip

# Firmware Settings
Firmware/Self-Balancing-Robot/.pio/
Firmware/Self-Balancing-Robot/.vscode/
Firmware/Self-Balancing-Robot/.vscode/.browse.c_cpp.db*
Firmware/Self-Balancing-Robot/.vscode/c_cpp_properties.json
Firmware/Self-Balancing-Robot/.vscode/launch.json

# Local Experiments
Firmware/Arduino Sketches/
Firmware/Self-Balancing-Robot/src/test_code/


