# KiCAD Settings
Self Balancing Robot/Self Balancing Robot-backups/
Self Balancing Robot/#auto_saved_files#
Self Balancing Robot/fp-info-cache
_autosave-Self%20Balancing%20Robot.kicad_pcb
~Self Balancing Robot.kicad_sch.
~_autosave-Self Balancing Robot.kicad_pcb.lck